<div class="container">
  <form class="mt-4 mb-4 p-3 border shadow rounded" id="work" action="/admin" method="post">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="title" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Discription</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="discription" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Initialized</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" name="initialized" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Estimate</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" name="estimate" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Amount</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="amount" id="total" oninput="calculateSettlement(parseInt(this.value), parseInt(paid.value))" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Paid</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="paid" id="paid" oninput="calculateSettlement(total.value, this.value)" required>
        <ul id="payment-list" class="mt-3"> </ul>
      </div>
    </div>
  
     <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Payment Method</label>
      <div class="col-sm-10">
     
        <input type="radio" class="form-check-input" value='single' name="method" id="single"> <label for=""> : Single Payment</label> <br>
        <input type="radio" class="form-check-input" value='part' name="method" checked id="part"> <label for=""> : Part Payment</label> 

      </div>
    </div>
    <input type="hidden" name="number" value="{{number}}">
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Progress</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <div class="">
            <div class="col-lg-12">

              <div id="row">
                <div class="input-group m-3">
                  <input type="text" placeholder="label" oninput="rangeInput.name = lab.value" id="lab" value="labour"
                    required>
                  <input style="margin-left: 1rem;" id="rangeInput" type="range"  min="0" max="100" name="labour" value="10"
                    oninput="progress.value=rangeInput.value" required />
                  <input style="margin-left: 1rem;" id="progress" type="number" value="10" min="0" max="100"
                    oninput="rangeInput.value=progress.value" />
                </div>
              </div>

              <div id="newinput"></div>
              <button id="rowAdder" type="button" class="btn btn-dark">
                <span class="bi bi-plus-square-dotted">
                </span> ADD
              </button>
            </div>
            <div>

            </div>


          </div>

        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">Add work</button>
  </form>
  <script src="/javascripts/progress.js">

  </script>
<script>
  let li = document.createElement('li');
  var paymentList = document.getElementById('payment-list');



  function calculateSettlement(initialAmount, payments) {
    // Initial amounts (as percentages)
    const fortyPercent = 0.4 * initialAmount;
    const thirtyPercent = 0.3 * initialAmount;
    const twentyFivePercent = 0.25 * initialAmount;
    const fivePercent = 0.05 * initialAmount;

    


    const isForty =  payments - fortyPercent
    
    if (isForty < 0) {
      
      li.innerHTML = `<li class="text-warning">Advance 45% - ${fortyPercent}</li>` +
        `<li class="text-warning">First 30% - ${thirtyPercent}</li>` +
        `<li class="text-warning">Second part 25% - ${twentyFivePercent}</li>` +
        `<li class="text-warning">Final 5% - ${fivePercent}</li>`;
      paymentList.appendChild(li);


    } else {

      var isThirty = thirtyPercent + fortyPercent -payments
      if (isThirty > 0 ) {
        li.innerHTML = `<li class="text-success">Advance 45% - ${fortyPercent}</li>` +
          `<li class="text-warning">First 30% - ${thirtyPercent}</li>` +
          `<li class="text-warning">Second part 25% - ${twentyFivePercent}</li>` +
          `<li class="text-warning">Final 5% - ${fivePercent}</li>`;
        paymentList.appendChild(li);
      } else {

        var isTwentyFive =  twentyFivePercent + thirtyPercent + fortyPercent - payments
        if (isTwentyFive > 0 ) {
          li.innerHTML = `<li class="text-success">Advance 45% - ${fortyPercent}</li>` +
            `<li class="text-success">First 30% - ${thirtyPercent}</li>` +
            `<li class="text-warning">Second part 25% - ${twentyFivePercent}</li>` +
            `<li class="text-warning">Final 5% - ${fivePercent}</li>`;
          paymentList.appendChild(li);
        } else {

          var isFive = fivePercent + twentyFivePercent + thirtyPercent + fortyPercent - payments
          if (isFive > 0 ) {
            li.innerHTML = `<li class="text-success">Advance 45% - ${fortyPercent}</li>` +
              `<li class="text-success">First 30% - ${thirtyPercent}</li>` +
              `<li class="text-success">Second part 25% - ${twentyFivePercent}</li>` +
              `<li class="text-warning">Final 5% - ${fivePercent}</li>`;
            paymentList.appendChild(li);
          } else {
            li.innerHTML = `<li class="text-success">Advance 45% - ${fortyPercent}</li>` +
              `<li class="text-success">First 30% - ${thirtyPercent}</li>` +
              `<li class="text-success">Second part 25% - ${twentyFivePercent}</li>` +
              `<li class="text-success">Final 5% - ${fivePercent}</li>`;
            paymentList.appendChild(li);
          }
        }

      }

    }



  }


</script>
  <style>
    input[type="text"],
    input[type="number"],
    input[type="date"],
    select.form-control {
      background: transparent;
      border: none;
      border-bottom: 1px solid #000000;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
    }

    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="date"]:focus,
    select.form-control:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  </style>