<div class="container">
    <section class="intro mt-4">
        <div class="mask d-flex align-items-center h-100 ">
            <div class="container ">
                <div class="row justify-content-center ">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="my-md-5 pb-3">

                                    <h1 class="fw-bold mb-1">Add User</h1>

                                    <form action="" method="post">

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="typeEmail">Name</label>

                                            <input type="text" name="name" class="form-control form-control-lg"
                                                placeholder="Name" required />
                                        </div>

                                        <div class="form-outline mb-5">
                                            <label class="form-label" for="typePassword">Mobile</label>

                                            <input type="number" name="mobile"
                                                class="form-control form-control-lg "
                                                placeholder="0000000000" required />
                                        </div>

                                        <button
                                            class="btn btn-primary btn-lg btn-rounded gradient-custom text-body px-5"
                                            type="submit">create User</button>
                                    </form>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
