<div class="container">
  <form class="mt-4 mb-4 p-3 border shadow rounded" id="work" action="/admin" method="post">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="title" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Discription</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="discription" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Initialized</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" name="initialized" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Estimate</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" name="estimate" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Advance</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="advance" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Remaining</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="remaining" required>
      </div>
    </div>
    <input type="hidden" name="number" value="{{number}}">
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Progress</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <div class="">
            <div class="col-lg-12">

              <div id="row">
                <div class="input-group m-3">
                  <input type="text" placeholder="label" oninput="rangeInput.name = lab.value" id="lab" value="labour"
                    required>
                  <input style="margin-left: 1rem;" id="rangeInput" type="range" min="0" max="100" name="labour"
                    oninput="amount.value=rangeInput.value" required />
                  <input style="margin-left: 1rem;" id="amount" type="number" value="50" min="0" max="100"
                    oninput="rangeInput.value=amount.value" />
                </div>
              </div>

              <div id="newinput"></div>
              <button id="rowAdder" type="button" class="btn btn-dark">
                <span class="bi bi-plus-square-dotted">
                </span> ADD
              </button>
            </div>
            <div>

            </div>


          </div>

        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
  <script src="/javascripts/progress.js">

  </script>

  <style>
    input[type="text"],
    input[type="number"],
    input[type="date"],
    select.form-control {
      background: transparent;
      border: none;
      border-bottom: 1px solid #000000;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
    }

    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="date"]:focus,
    select.form-control:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  </style>