<div class="container ">

      <a href="/add-user" class="btn btn-success mt-3 mb-4">New Work</a>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Works</th>
      <th scope="col">Start</th>
      <th scope="col">Estimate</th>
      <th>Progress</th>
      <th>Advanced</th>
      <th>Remaining</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Work 1</td>
      <td>21 Feb</td>
      <td>31 March</td>
      <td>81%</td>
      <td>12000/-</td>
      <td>20000/-</td>
      <td><a href="/admin/edit-work" class="btn btn-primary">Edit</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>work 2</td>
      <td>21 Feb</td>
      <td>31 March</td>
      <td>92%</td>
      <td>12000/-</td>
      <td>20000/-</td>
      <td><a href="/admin/edit-work" class="btn btn-primary">Edit</a></td>
    </tr>

  </tbody>
</table>
</div>